DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/bookstore
REDIS_URL=redis://localhost:6379
SECRET_KEY=my-long-secret-key-change-this-later
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256
RESEND_API_KEY=your-resend-api-key
EMAIL_SENDER=your-email@example.com